@import "mixins";
@import "typography";

.metadata {
  font-size: 75%;
  text-align: left;
}

.aside {
  font-size: 2rem;
  font-weight: 200;
  font-family: @font-family-sans-serif;
}

p {
  padding: 1rem;
}

main.container-fluid {
   padding: 5rem 15rem 10rem 10rem;
}

main header > h1 {
  padding: 1rem;
  font: normal normal 900 4rem @font-family-serif;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

main header > h2 {
  padding: 0rem 10rem 10rem 10rem;
  font: normal normal 500 3rem @font-family-sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
}

section {
  padding: 1rem;
}

main footer {
  padding: 15rem;
  font: normal normal 200 2rem @font-family-serif;
  text-align: center;
}
