/* Web Fonts */

@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400);

/* Variables */

@font-family-serif: 'Cardo', Garamond, serif;
@font-family-sans-serif: 'Open+Sans', sans-serif;
@font-family-monospace: "Source Code Pro", Monaco, monospace;

@font-size-base: 1.5rem;
@line-height-base: 1.45rem;

@base-color: #428bca;

/* Brand colors */
@brand-primary:           #428bca;
@brand-success:           #5cb85c;
@brand-warning:           #f0ad4e;
@brand-danger:            #d9534f;
@brand-info:              #5bc0de;

/* Typesetting */

header {
  font: normal small-caps 900 4rem @font-family-sans-serif;
}

h1 {
  font: normal normal 600 3rem @font-family-sans-serif;
}

h2 {
  font: normal normal 400 3rem @font-family-sans-serif;
}

h3 {
  font: normal normal 300 2rem @font-family-serif;
}

h4 {
  font: normal normal 300 1.5rem @font-family-serif;
}

h5, h6 {
  font: italic italic 300 1.5rem @font-family-serif;
}

body, p {
  font: normal normal 300 2rem/3rem @font-family-serif;
}

footer {
  font: normal normal 100 1rem @font-family-sans-serif;
}

ul {
  font: italic normal 300 1.5rem @font-family-sans-serif;
  margin: 1px;
  padding: 1px;
  list-style-type: disc;
  text-align: left;
  display: block;
}

li {
  font: normal normal 300 1.5rem @font-family-sans-serif;
}

a {
  padding: 2px;
}

dl dt {
   padding: 2rem 1rem;
}

dd {
  font-style: italic;
  font-weight:1rem;
}


/* Custom */

.lang {
  padding: 2rem;
  font: normal normal 400 2rem @font-family-monospace;
  letter-spacing: 0.1em;
}

.and {
  font: normal normal 400 2rem @font-family-serif;
}
